{% extends "admin/change_list.html" %}

{% block result_list %}
<p><strong>Views</strong> = number of times the podcast's index page has been requested.</p>
<p><strong>Views recursive</strong> = number of views for the podcast's index page plus any of its episode/post detail pages.</p>
<p><strong>Plays</strong> = number of times the podcast's audio files have been downloaded <em>by a non-bot client</em> (as far as we're able to tell). May be a fraction because of partial downloads (common when streaming).</p>
{{ block.super }}
{% endblock result_list %}
