{% extends "admin/base_site.html" %}
{% load admin_urls static %}

{% block extrahead %}
{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-slug-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' form.instance.pk|admin_urlquote %}">{{ form.instance|truncatewords:"18" }}</a>
&rsaquo; Change slug
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" id="{{ opts.model_name }}_slug_form" novalidate>
        {% csrf_token %}
        <div>
            {% if form.errors %}
            <p class="errornote">Please correct the error(s) below.</p>
            {{ form.non_field_errors }}
            {% endif %}
            <p>Please note that changing the slug will change all public URLs for the podcast, its episodes, etc.</p>
            <div>
                {{ form.slug.errors }}
                {{ form.slug.label_tag }}
                {{ form.slug }}
            </div>
            <p>Current value: {{ form.instance.slug }}</p>
            <div class="submit-row">
                <input type="submit" value="Save" class="default" name="_save">
            </div>
        </div>
    </form>
</div>
{% endblock %}
