{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="module" src={% static "assets/js/chart.js" %}></script>
{% endblock extrahead %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "assets/css/admin.css" %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Charts
</div>
{% endblock %}

{% block content %}
<div class="charts">
    <div class="chart-container">
        Start: <input type="date" name="start">
        End: <input type="date" name="end">
        <div class="chart">
            <canvas id="podcast-play-time-chart"></canvas>
        </div>
    </div>
    {% for podcast in podcasts %}
        <div class="chart-container">
            Start: <input type="date" name="start">
            End: <input type="date" name="end">
            <div class="chart">
                <canvas class="episode-play-time-chart" data-podcast-slug="{{podcast.slug}}" data-podcast-name="{{podcast.name}}"></canvas>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
