{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<script type="module" src={% static "assets/js/chart.js" %}></script>
{% endblock extrahead %}

{% block content %}
<div class="charts">
    <div class="chart-container">
        <input type="date" name="start">
        <input type="date" name="end">
        <canvas id="podcast-play-time-chart"></canvas>
    </div>
    {% for podcast in podcasts %}
        <div class="chart-container">
            <input type="date" name="start">
            <input type="date" name="end">
            <canvas class="episode-play-time-chart" data-podcast-slug="{{podcast.slug}}" data-podcast-name="{{podcast.name}}"></canvas>
        </div>
    {% endfor %}
</div>
{% endblock content %}
