.inline-group .tabular tr td.original,
.inline-group .tabular th.original {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 8px !important;
}

.submit-row {
    align-items: center;
}

#sidebar {
    float: right;
    margin-right: -300px;
    display: flex;
    flex-direction: column;
}

#content-related {
    margin-right: 0 !important;
}

#sidebar .module {
    background: var(--darkened-bg) !important;
    width: 260px;
}

#sidebar .module h2 {
    background: none;
    border-bottom: 1px solid var(--hairline-color);
    font-size: 1.125rem;
    color: var(--body-fg);
    padding: 16px;
    margin-bottom: 16px;
}

#sidebar .module h3 {
    color: var(--body-quiet-color);
    margin: 16px 0;
    padding: 0 16px;
}

.actionlist {
    padding: 0;
    margin: 16px;
}

.actionlist li {
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 18px;
}

.nowrap {
    white-space: nowrap;
}

.readonly-inline-model {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.readonly-inline-model .row {
    display: flex;
}

.readonly-inline-model .row .key {
    flex: 0 0 150px;
}

.readonly-inline-model .row .value {
    flex: 1 0 auto;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chart {
    height: 300px;
}

.chart-container {
    border: 1px solid var(--border-color);
    padding: 1rem;
}
