.markdownx .markdownx-preview * {
    color: var(--body-fg) !important;
}

.inline-group .tabular tr td.original,
.inline-group .tabular th.original {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 8px !important;
}

.editormd-dialog {
    background: var(--body-bg);
    color: var(--body-fg);
}

.editormd-file-input {
    width: auto;
    height: auto;
    margin-left: 0;
}

.wmd-wrapper h1, .wmd-wrapper h2, .wmd-wrapper h3, .wmd-wrapper h4, .wmd-wrapper h5, .wmd-wrapper h6 {
    background: inherit !important;
    color: inherit !important;
}

.main-martor {
    width: 1000px;
}

.martor-preview * {
    color: #121212;
}

.martor-field {
    min-height: 500px;
}
