.inline-group .tabular {
    tr td.original,
    th.original {
        display: none;
    }

    tr.has_original td {
        padding-top: 8px !important;
    }
}

.submit-row {
    align-items: center;
}

#content-related {
    margin-right: 0 !important;
}

#sidebar {
    float: right;
    margin-right: -300px;
    display: flex;
    flex-direction: column;

    .module {
        background: var(--darkened-bg) !important;
        width: 260px;

        h2 {
            background: none;
            border-bottom: 1px solid var(--hairline-color);
            font-size: 1.125rem;
            color: var(--body-fg);
            padding: 16px;
            margin-bottom: 16px;
        }

        h3 {
            color: var(--body-quiet-color);
            margin: 16px 0;
            padding: 0 16px;
        }
    }
}

.actionlist {
    padding: 0;
    margin: 16px;

    li {
        line-height: 1.2;
        margin-bottom: 10px;
        padding-left: 18px;
    }
}

.nowrap {
    white-space: nowrap;
}

.readonly-inline-model {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
        display: flex;

        .key {
            flex: 0 0 150px;
        }

        .value {
            flex: 1 0 auto;
        }
    }
}

.timestamp-field {
    width: 80px;
}

#songs-group .vURLField,
#songs-group .vTextField {
    width: auto;
}

.change-list-legend p {
    margin: 0.4em 0 !important;
}

.font-sample-output {
    line-height: 1.5em;
}

.change-form.model-fontface {
    .font-sample-output {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .font-sample-inputs {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #font-sample-input {
        width: min(300px, 100%);
    }
}

.checkbox-row {
    width: 440px;

    .vCheckboxLabel {
        width: 100% !important;
        margin-left: 5px;
    }
}

.clearable-file-input {
    margin-left: 10px;

    input {
        margin-right: 5px;
    }
}

fieldset .fieldBox {
    margin-right: 40px;
    min-width: 440px;
}

form .aligned p.help,
form .aligned div.help {
    padding-left: 0 !important;
}

nav caption {
    caption-side: top !important;
}

.flex-container .vTextField {
    flex: 1 1 auto;
    width: unset;
}

.field-file .flex-container {
    gap: 10px;
    align-items: center;

    label {
        padding-right: 0;
    }
}
