{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrahead %}
{{ block.super }}
{% translate "Daily play time per episode" as episode_play_time_title %}
{% translate "Daily play time per podcast" as podcast_play_time_title %}
<script type="application/json" id="context">
    {
        "rootUrl": "{{ root_url }}",
        "strings": {
            "episodePlayTimeTitle": "{{ episode_play_time_title }}",
            "podcastPlayTimeTitle": "{{ podcast_play_time_title }}"
        }
    }
</script>
<script type="module" src={% static "spodcat/js/chart.js" %}></script>
{% endblock extrahead %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "spodcat/css/admin.css" %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate "Home" %}</a>
&rsaquo; {% translate "Charts" %}
</div>
{% endblock %}

{% block content %}
<div class="charts">
    <div class="chart-container">
        {% translate "Start" %}: <input type="date" name="start">
        {% translate "End" %}: <input type="date" name="end">
        <div class="chart">
            <canvas id="podcast-play-time-chart"></canvas>
        </div>
    </div>
    {% for podcast in podcasts %}
        <div class="chart-container">
            {% translate "Start" %}: <input type="date" name="start">
            {% translate "End" %}: <input type="date" name="end">
            <div class="chart">
                <canvas class="episode-play-time-chart" data-podcast-slug="{{podcast.slug}}" data-podcast-name="{{podcast.name}}"></canvas>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
