{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrahead %}
{{ block.super }}
<script type="application/json" id="context">
    {
        "rootPath": "{{ root_path }}",
        "strings": {
            "episodePlayTimeTitle": "{% translate 'Daily play count per episode' %}",
            "podcastPlayTimeTitle": "{% translate 'Daily episode play count per podcast' %}",
            "uniqueIpsTitle": "{% translate 'Unique listeners' %}",
            "rssUniqueIpsTitle": "{% translate 'Unique subscribers' %}"
        }
    }
</script>
<script type="module" src={% static "spodcat/js/charts.js" %}></script>
{% endblock extrahead %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "spodcat/css/admin.css" %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate "Home" %}</a>
&rsaquo; {% translate "Charts" %}
</div>
{% endblock %}

{% block content %}
<div class="charts">
    <div class="chart-group">
        <div>
            <h2>{% translate "Approx. number of unique listeners and subscribers" %}</h2>
            <small>
                {% blocktranslate trimmed %}
                More precisely, these measure the number of unique and non-bot (or rather: not-confirmed-to-be-bot) IP
                addresses. The number of actual, physical <em>people</em> is unknown but definitely smaller.
                {% endblocktranslate %}
            </small>
        </div>
        <div class="horizontal">
            <div class="chart">
                <canvas id="unique-ips-chart"></canvas>
            </div>
            <div class="chart">
                <canvas id="rss-unique-ips-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="chart-group">
        <div>
            <h2>{% translate "Daily play count charts" %}</h2>
            <small>
                {% blocktranslate trimmed %}
                These measure the number of episode downloads per day by non-bot users. The numbers may be fractional
                because of partial downloads.
                {% endblocktranslate %}
            </small>
        </div>
        <div class="date-fields">
            {% translate "Start" %}: <input type="date" name="daily-plays-start-date">
            {% translate "End" %}: <input type="date" name="daily-plays-end-date">
        </div>
        <div class="chart">
            <canvas id="podcast-episode-plays-chart"></canvas>
        </div>
        {% for podcast in podcasts %}
            <div class="chart">
                <canvas class="episode-plays-chart" data-podcast-slug="{{podcast.slug}}" data-podcast-name="{{podcast.name}}"></canvas>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
